html, body {
    height: 100%;
}

body {
    background: linear-gradient(0deg, #303030, lightgray 80%) no-repeat;
}

.container {
    margin: 0 auto;
    width: 25%;
}

.title {
    font-size: 70px;
    text-align: center;
}

.text-input {
    width: 100%;
    padding: 7px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.generate {
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}

label {
    font-size: x-large;
    display: block;
    margin-bottom: 25px;
}

.button {
    text-align: center;
}