/* UI Elements */
html,
body {
  height: 100%;
}

body {
  background: linear-gradient(0deg, #303030, lightgray 100%) no-repeat;
}

hr {
  border: 1px solid black;
}

.text-input {
  width: 100%;
  padding: 7px;
  margin-bottom: 25px;
  border-radius: 10px;
  text-align: center;
  font-size: small;
}

label {
  font-size: x-large;
  display: block;
  margin-bottom: 25px;
}

.generate {
  padding: 10px;
  font-size: large;
  border-radius: 10px;
}

.button {
  text-align: center;
}

.error {
  text-align: center;
  color: darkred;
}

.modal-body {
  word-wrap: break-word;
}
